body {
  margin: 0;
  padding: 3%;
  background-color: #b2d8d8;
}

h1,
p {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

p {
  font-weight: 700;
}

div {
  margin: 10px 0px;
}

#survey-box {
  background-color: white;
  border-radius: 4px;
  width: 80%;
  min-width: 340px;
  max-width: 800px;
  margin: auto;
  padding: 10px 20px 20px 20px;
}

label,
input,
ul {
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

label {
  vertical-align: middle;
  text-align: right;
  width: 50%;
  margin: 0px 10px 0px 0px;
}

.input {
  margin: 10px 0px;
}

.input {
  width: 30%;
  height: 40px;
  padding: 0px 5px;
}

input[type="submit"] {
  display: block;
  margin: auto;
  background-color: #4caf50;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  padding: 10px 30px;
  text-decoration: none;
  cursor: pointer;
}

#dropdown {
  height: 40px;
}

sup,
#recommendation-label,
#improvement-label,
#comments-label {
  vertical-align: top;
}
